.box1 {
    width: 40%;
    border: 10px solid rgb(236, 181, 79);
    padding: 50px;
    margin: 20px;
    float:left
  }

  .box2 {
    width: 40%;
    border: 10px solid rgb(236, 181, 79);
    padding: 50px;
    margin: 20px;
    float:right;
  }

  .box3 {
    width: 40%;
    border: 10px solid rgb(236, 181, 79);
    padding: 50px;
    margin: 20px;
    float: left;
  }

  .box4 {
    width: 40%;
    border: 10px solid rgb(236, 181, 79);
    padding: 50px;
    margin: 20px;
    float: right;
  }